@font-face {
    font-family: 'clock';
    src: url(/clock.ttf);
    font-weight: 400;
}

html {
    font-size: 10px;
}

body {
    background-color: black;
}

div[data-tz] {
    vertical-align: middle;

}

div[data-flag] {
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5em;
}

div[data-tz]>span.date {
    font-size: 15rem;
    font-family: clock;
    font-weight: 400;
    color: #522;
    margin-right: 1em;
    vertical-align: middle;

}
div[data-tz]>span.time {
    font-size: 30rem;
    font-family: clock;
    font-weight: 400;
    color: #833;
    margin-right: 0.5em;
    vertical-align: middle;

}
div[data-tz]>input {
    font-size: 15rem;
    font-family: clock;
    font-weight: 400;
    background-color: black;
    color: #CCC;
    vertical-align: middle;
}

div[data-tz]::before {
    content: attr(id);
    width: 10em;
    display: inline-block;
    font-family: sans-serif;
    color: white;
    outline: black;
    font-size: 8rem;
    vertical-align: middle;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;

}

#Container {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
}